<div class="dialog-container">
  <mat-progress-bar *ngIf="loading" class="progress-bar" mode="indeterminate"></mat-progress-bar>
  <h1 mat-dialog-title>Add User</h1>
  <div mat-dialog-content>
    <!-- <p>Please enter a name</p> -->
    <div>
      <mat-form-field class="margin-right" appearance="outline">
        <mat-label>First Name</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.firstName" matInput>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input [disabled]="loading"  [(ngModel)]="user.lastName" matInput>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Birth Date</mat-label>
        <input [disabled]="loading"  [(ngModel)]="birthDate" matInput [matDatepicker]="picker">
        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Street + House No.</mat-label>
        <input [disabled]="loading"  [(ngModel)]="user.address" matInput>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="margin-right" appearance="outline">
        <mat-label>Zip code</mat-label>
        <input [disabled]="loading"  [(ngModel)]="user.zipCode" matInput>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input [disabled]="loading"  [(ngModel)]="user.city" matInput>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="" (click)="save()" cdkFocusInitial>Save</button>
  </div>
</div>