<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logo-container"> Platz für logo </div>

    <ul class="menu-items">
      <li routerLink="/dashboard">
        <mat-icon fontIcon="space_dashboard"></mat-icon>
        Dashboard
      </li>
      <li routerLink="/user">
        <mat-icon fontIcon="person"></mat-icon>
        User
      </li>
      <li routerLink="/options">
        <mat-icon fontIcon="settings"></mat-icon>Options
      </li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-icon class="menu-icon" mat-icon-button (click)="drawer.toggle()">menu</mat-icon>
      <span>My Application</span>
    </mat-toolbar>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>

  </div>
</mat-drawer-container>