.user-detail-header {
  min-height: 250px;
  z-index: 1001;
  color: white;
  background-color: #c2185b;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;

  img {
    position: absolute;
    translate: -50% 50%;
    bottom: 0;
    left: 50%;
    height: 160px;
    width: 160px;
    border-radius: 100vmax;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.info-card {
  margin-top: 2rem;
}
