<mat-card>
    <table class="user-table">
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Birthdate</th>
        </tr>
        <tr>
            <td>assa</td>
            <td>asdad</td>
            <td>asdasd</td>
        </tr>
        <tr>
            <td>assa</td>
            <td>asdad</td>
            <td>asdasd</td>
        </tr>
    </table>
</mat-card>
<button (click)="openDialog()" matTooltip="Add User" matTooltipHideDelay="250" class="btn-add" mat-fab color="primary"
    aria-label="Example icon button with a delete icon">
    <mat-icon>add</mat-icon>
</button>