/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.margin-right {
  margin-right: 1rem;
}

.full-width {
  width: 100%;
}

.dialog-container {
  position: relative;
}

.progress-bar {
  position: absolute;
  width: calc(100% + 48px);
  left: -24px;
  right: -24px;
  height: 8px;
  top: -24px;
}
